token.atrule,
.token.attr-value,
.token.keyword {
    color: #0fe468;
}

.token.function,
.token.class-name {
    color: #78f3e9;



    token.regex,
    .token.important,
    .token.variable {
        color: #d6e7ff;
    }